################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ERMPower/EnergyReading.Core/obj
/ERMPower/EnergyReading.Infrastructure/obj
/ERMPower/EnergyReading.UnitTests/obj
/ERMPower/EnergyReading.WebAPI/obj
/ERMPower/.vs/ERMPower
/EnergyReading.Core/obj
/EnergyReading.Infrastructure/obj
/EnergyReading.UnitTests/obj
/EnergyReading.WebAPI/obj
/.vs/ERMPower/v15/Server/sqlite3
/ConsoleUI/obj
/.vs/ERMPower/v15
/.vs
/src/ConsoleApp/ERMPower.ConsoleUI/obj
/src/ConsoleApp/ERMPower.ConsoleUI/bin/Debug/netcoreapp2.1
/src/Services/EnergyReading/EnergyReading.API/bin/Debug/netcoreapp2.1
/src/Services/EnergyReading/EnergyReading.API/obj
/src/Services/EnergyReading/EnergyReading.Core/bin/Debug/netstandard2.0
/src/Services/EnergyReading/EnergyReading.Core/obj
/src/Services/EnergyReading/EnergyReading.Infrastructure/bin/Debug/netstandard2.0
/src/Services/EnergyReading/EnergyReading.Infrastructure/obj
/src/Services/EnergyReading/EnergyReading.UnitTests/obj
/src/Services/EnergyReading/EnergyReading.UnitTests/bin/Debug/netcoreapp2.1
